@model ComunidadDePracticaMVC.Models.UsuarioModel

@{
    ViewBag.Title = "DesplegarUsuario";
}

<html>
<head>
    <script type="text/javascript">

        function enviarResumen(mensaje) {
            alert(mensaje);
        }

        $(document).ready(function () {
            var currentPage = 1;
            loadArticlesData(currentPage);

            $(window).scroll(function () {
                var windowComparison = ($(document).height() - $(window).height()) - $(window).scrollTop();
                if (Math.abs(windowComparison) <= 1) {
                    currentPage += 1;
                    loadArticlesData(currentPage);
                }

            });


        });

        function verVara() {
            var windowComparison = ($(document).height() - $(window).height()) - $(window).scrollTop();
            alert(windowComparison);
        }
        function loadArticlesData(currentPageNumber) {
            $.ajax({
                type: "GET",
                url: 'Articulos/getArticulosInfo',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { pageNumber: currentPageNumber, pageSize: 5 },
                success: function (response) {
                    //get the template element:
                    var artTemp = document.getElementsByTagName("template")[0].content;
                    var articleList = $('#articleList');

                    // Looping over emloyee list and display it
                    $.each(response, function (index, articulo) {
                        var idS = new String(articulo.ArticuloId);
                        //url para ver
                        var lookUrl = '@Url.Action("ConsultarArticulos", "Articulo",new { id= "VAL"},null)';
                        lookUrl = lookUrl.replace("VAL", idS);
                        //url para editar
                        var editUrl = '@Url.Action("EditarArticulo", "Articulo",new { id= "VAL"},null)';
                        editUrl = editUrl.replace("VAL", idS);
                        //url para borrar
                        var deleteUrl = '@Url.Action("BorrarArticulo", "Articulo",new { id= "VAL"},null)';
                        deleteUrl = deleteUrl.replace("VAL", idS);

                        var articleInstance = document.importNode(artTemp, true);

                        var title, author, info, lookLink, editLink, deleteLink;

                        //get the DIV element from the template Instance:
                        title = articleInstance.querySelector(".title_template");
                        author = articleInstance.querySelector(".author_template");
                        //info = articleInstance.querySelector("#info");
                        lookLink = articleInstance.querySelector(".look-template");
                        editLink = articleInstance.querySelector(".edit-template");
                        deleteLink = articleInstance.querySelector(".delete-template");

                        title.textContent = articulo.Titulo;
                        author.textContent = articulo.Autor;
                        //info.textContent = articulo.Autor;
                        lookLink.href = lookUrl;
                        editLink.href = editUrl;
                        deleteLink.href = deleteUrl;

                        articleList.append(articleInstance);

                        /*
                        actionLink = actionLink.replace("VAL", idS);
                        tblExample.append('<tr> <td>' + articulo.ArticuloId + '</td> <td>'
                            + articulo.Autor + '</td><td>' + articulo.Titulo + '</td><td>'
                            + '<span>' + actionLink + '</span>' + '</td></tr>');
                        */
                    });
                },
                error: function (err) {

                }

            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/estilos.css">

</head>
<body>
    <h2>Mi perfil</h2>
    <hr />


    
    <div class=" row col-md-8 ">
        <br />
        <h4>
            Datos de usuario
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Correo)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Merito)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Merito)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Peso)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Categoria)
                    </td>
                </tr>
                
            </tbody>

        </table>
    </div>

    


    <div class="row col-md-8 ">
        <br />
        <h4>
            Datos personales
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Nombre)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Apellido1)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Apellido2)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Ciudad)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Pais)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Pais)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Idioma)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Idioma)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Habilidad)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Habilidad)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Hobbie)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Hobbie)
                    </td>

                </tr>

            </tbody>

        </table>
        <div class="col-md-1 ">
            @Html.ActionLink("Editar", "DesplegarEditarUsuario", "Usuario", new { correo = "@User.Identity.Name" }, htmlAttributes: new { title = "Edite su perfil", @class = "btn btn-primary" })
        </div>

    </div>

    

    <div id="articleList">

    </div>

</body>
</html>