@model ComunidadDePracticaMVC.Models.UsuarioModelCompleto


<script type="text/javascript">
    $(document).ready(function () {


        $("#form").on('submit', function (e) {
            //Previene el verdadero submit de la b
            e.preventDefault();
            //valida el form
            $('#form').validate();
            var isFormValid = $('#form').valid();

            if (isFormValid) {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "EditarUsuario/",
                        dataType: "json",
                        data: { //Passing data

                            Correo: $("#correo").text(),
                            Nombre: $("#nombre").val(),
                            Apellido1: $("#apellido1").val(),
                            Apellido2: $("#apellido2").val(),
                            Ciudad: $("#ciudad").val(),
                            Pais: $("#pais").val(),
                        },
                        success: function (data) {

                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
            }
            else {
                alertValidation.style.display = "block";
            }

        });


        ///////////////////////////////// IDIOMAS

        $("#form").on('submit', function (e) {
            //Previene el verdadero submit de la b
            e.preventDefault();
            //valida el form
            $('#form').validate();
            var isFormValid = $('#form').valid();

            if (isFormValid) {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "EditarIdioma/",
                        dataType: "json",
                        data: { //Passing data

                            Correo: $("#correo").text(),
                            Viejo: $("#idiomaViejo").text(),
                            Nuevo: $("#idiomaNuevo").val(),
                        },
                        success: function (data) {

                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
            }
            else {
                alertValidation.style.display = "block";
            }

        });

    ////////////////////////////// Hobbie

        $("#form").on('submit', function (e) {
            //Previene el verdadero submit de la b
            e.preventDefault();
            //valida el form
            $('#form').validate();
            var isFormValid = $('#form').valid();

            if (isFormValid) {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "EditarHobbie/",
                        dataType: "json",
                        data: { //Passing data

                            Correo: $("#correo").text(),
                            Viejo: $("#hobbieViejo").text(),
                            Nuevo: $("#hobbieNuevo").val(),
                        },
                        success: function (data) {

                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
            }
            else {
                alertValidation.style.display = "block";
            }
        });
        //////////////////////////////////////////////// Habilidad
        $("#form").on('submit', function (e) {
            //Previene el verdadero submit de la b
            e.preventDefault();
            //valida el form
            $('#form').validate();
            var isFormValid = $('#form').valid();

            if (isFormValid) {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "EditarHabilidad/",
                        dataType: "json",
                        data: { //Passing data

                            Correo: $("#correo").text(),
                            Viejo: $("#habilidadViejo").text(),
                            Nuevo: $("#habilidadNuevo").val(),
                        },
                        success: function (data) {

                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
            }
            else {
                alertValidation.style.display = "block";
            }

        });

        //////////////////////////////////////
    });
</script>



<h2>Editar mis datos</h2>


<form id="form" class="form-horizontal" novalidate="novalidate">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UsuarioModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var item in Model.Usuario)
        {
            <div class="form-group">
                @Html.LabelFor(model => item.Correo, htmlAttributes: new { @class = "control-label col-md-2", })
                <div class="col-md-10" id="correo">
                    @Html.DisplayFor(model => item.Correo)
                </div>
            </div>


            <br />
            <div class="form-group">
                @Html.LabelFor(model => item.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombre" } })
                    @Html.ValidationMessageFor(model => item.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Apellido1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Apellido1, new { htmlAttributes = new { @class = "form-control", @id = "apellido1" } })
                    @Html.ValidationMessageFor(model => item.Apellido1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Apellido2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Apellido2, new { htmlAttributes = new { @class = "form-control", @id = "apellido2" } })
                    @Html.ValidationMessageFor(model => item.Apellido2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Ciudad, new { htmlAttributes = new { @class = "form-control", @id = "ciudad" } })
                    @Html.ValidationMessageFor(model => item.Ciudad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Pais, new { htmlAttributes = new { @class = "form-control", @id = "pais" } })
                    @Html.ValidationMessageFor(model => item.Pais, "", new { @class = "text-danger" })
                </div>
            </div>

        }


    </div>

    <h3>Seleccione el valor a editar y escriba el nuevo en el cuadro de textp</h3>

    <div class="form-group">
        <h3>Idioma</h3>
        <Select id="idiomaViejo" class="form-control">
            @foreach (var item in Model.Idioma)
            {
                <option> @item</option>
            }
        </Select>
        <input type="email" class="form-control" id="idiomaNUevo">
    </div>

    <div class="form-group">
        <h3>Hobbies</h3>
        <Select id="hobbieViejo" class="form-control">
            @foreach (var item in Model.Hobbie)
            {
                <option> @item</option>
            }
        </Select>
        <input type="email" class="form-control" id="hobbieNUevo">
    </div>

    <div class="form-group">
        <h3>Habilidad</h3>
        <Select id="habilidadViejo" class="form-control">
            @foreach (var item in Model.Habilidad)
            {
                <option> @item</option>
            }
        </Select>
        <input type="email" class="form-control" id="habilidadNuevo">
    </div>

    <br /><br />

    <div>
        @Html.ActionLink("Regresar", "Index", new { })
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






