@model ComunidadDePracticaMVC.Models.UsuarioModelCompleto


<script type="text/javascript">

    $(document).ready(function () {

        
        
        $("#form").on('submit', function (e) {
            
            //Previene el verdadero submit de la b
            e.preventDefault();
            //valida el form
            
            $('#form').validate();
            
            var isFormValid = $('#form').valid();
            //Elementos para retroalimentacion al usuario           
            

            if (isFormValid) {
                $.ajax(
                    {

                        type: "POST", //HTTP POST Method
                        url: "EditarUsuario/",
                        dataType: "json",
                        data: { //Passing data

                            Correo: $("#correo").text(),
                            Nombre: $("#nombre").val(),
                            Apellido1: $("#apellido1").val(),
                            Apellido2: $("#apellido2").val(),
                            Ciudad: $("#ciudad").val(),
                            Pais: $("#pais").val(),

                        },
                        success: function (data) {
                            /*document.getElementById('form').reset();

                            if (data.responseStatus != -1) {
                                alert(data.responseMessage);
                                window.location.replace(data.newUrl);
                            }
                            else {
                                alertRegsiterBox.style.display = "block";
                                alertRegsiterTitle.innerText = data.responseMessage;
                            }*/
                            alert("Cambio Generado Correctamente")

                        },
                        failure: function (response) {
                            alert("Fallo");
                        },
                        error: function (response) {
                            alert("Fallo");
                        }
                    });

            }
            else {
                alertValidation.style.display = "block";
            }

        });

    });

</script>


@{
    ViewBag.Title = "Editar Usuario";
}

<h2>Editar mis datos</h2>
<form id="form" class="form-horizontal" novalidate="novalidate">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UsuarioModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var item in Model.Usuario)
        {
            <div class="form-group">
                @Html.LabelFor(model => item.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div id="correo" class="col-md-10">@Html.DisplayFor(model => item.Correo)</div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => item.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "nombre" } })
                    @Html.ValidationMessageFor(model => item.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Apellido1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Apellido1, new { htmlAttributes = new { @class = "form-control", @id = "apellido1" } })
                    @Html.ValidationMessageFor(model => item.Apellido1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Apellido2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Apellido2, new { htmlAttributes = new { @class = "form-control", @id = "apellido2" } })
                    @Html.ValidationMessageFor(model => item.Apellido2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Ciudad, new { htmlAttributes = new { @class = "form-control", @id = "ciudad" } })
                    @Html.ValidationMessageFor(model => item.Ciudad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => item.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Pais, new { htmlAttributes = new { @class = "form-control", @id = "pais" } })
                    @Html.ValidationMessageFor(model => item.Pais, "", new { @class = "text-danger" })
                </div>
            </div>

        }

        <!--

        <div class="form-group">
            @@Html.LabelFor(model => model.Idioma, htmlAttributes: new { @@class = "control-label col-md-2" })
            <div class="col-md-10">
                @@Html.EditorFor(model => model.Idioma, new { htmlAttributes = new { @@class = "form-control", @@id = "idioma" } })
                @@Html.ValidationMessageFor(model => model.Idioma, "", new { @@class = "text-danger" })
                <input type="email" class="form-control" id="idiomaNuevo">
            </div>
        </div>




        <div class="form-group">
            @@Html.LabelFor(model => model.Hobbie, htmlAttributes: new {@@class = "control-label col-md-2" })
            <div class="col-md-10">
                @@Html.EditorFor(model => model.Hobbie, new { htmlAttributes = new { @@class = "form-control",@@id = "hobbie" } })
                @@Html.ValidationMessageFor(model => model.Hobbie, "", new { @@class = "text-danger" })
                <input type="email" class="form-control" id="hobbieNUevo">
            </div>
        </div>




        <div class="form-group">
            @@Html.LabelFor(model => model.Habilidad, htmlAttributes: new {@@class = "control-label col-md-2" })
            <div class="col-md-10">
                @@Html.EditorFor(model => model.Habilidad, new { htmlAttributes = new { @@class = "form-control", @@id = "habilidad" } })
                @@Html.ValidationMessageFor(model => model.Habilidad, "", new { @@class = "text-danger" })
                <input type="email" class="form-control" id="habilidadNUeva" >
            </div>
        </div>


        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

            -->


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>


</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
