@model ComunidadDePracticaMVC.Models.UsuarioModel

@{
    ViewBag.Title = "DesplegarUsuario";

    string espaciador = " , ";
}

<html>
<head>
    <script type="text/javascript">

        function enviarResumen(mensaje) {
            alert(mensaje);
        }

        
    </script>

</head>
<body>
    <h2>Mi perfil</h2>
    <hr />


    
    <div class=" row col-md-8 ">
        <br />
        <h4>
            Datos de usuario
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Correo)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Merito)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Merito)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Peso)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Categoria)
                    </td>
                </tr>
                
            </tbody>

        </table>
    </div>

    


    <div class="row col-md-8 ">
        <br />
        <h4>
            Datos personales
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Nombre)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Apellido1)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Apellido2)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Ciudad)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Pais)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Pais)
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Idioma)
                    </td>
                    <td>
                        @foreach (string elemento in Model.Idioma)
                        {
                            @Html.DisplayTextFor(model => elemento)
                            @Html.DisplayTextFor(model => espaciador)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Habilidad)
                    </td>
                    <td>
                        @foreach (string elemento in Model.Habilidad)
                        {
                            @Html.DisplayTextFor(model => elemento)
                            @Html.DisplayTextFor(model => espaciador)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @Html.DisplayNameFor(model => model.Hobbie)
                    </td>
                    <td>
                        @foreach (string elemento in Model.Hobbie)
                        {
                            @Html.DisplayTextFor(model => elemento)
                            @Html.DisplayTextFor(model => espaciador)
                        }
                    </td>

                </tr>

            </tbody>

        </table>
        <div class="col-md-1 ">
            @Html.ActionLink("Editar", "DesplegarEditarUsuario", "Usuario", new { correo = User.Identity.Name }, htmlAttributes: new { title = "Edite su perfil", @class = "btn btn-primary" })
        </div>

    </div>

    

    <div id="articleList">

    </div>

</body>
</html>