
@{
    ViewBag.Title = "MisArticulos";
}

<html>

<head>
    <script type="text/javascript">

        function enviarResumen(mensaje) {
            alert(mensaje);
        }

        $(document).ready(function () {
            var currentPage = 1;
            loadArticlesData(currentPage);

            $(window).scroll(function () {
                var windowComparison = ($(document).height() - $(window).height()) - $(window).scrollTop();
                if (Math.abs(windowComparison) <= 1) {
                    currentPage += 1;
                    loadArticlesData(currentPage);
                }

            });


        });

        function loadArticlesData(currentPageNumber) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ArticulosAutor", "Articulo")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { pageNumber: currentPageNumber, pageSize: 1000, correo: '@User.Identity.Name' },
                success: function (response) {
                    //get the template element:
                    var artTemp = document.getElementsByTagName("template")[0].content;
                    var articleListNoPublicados = $('#articleList-no-publicados');
                    var articleListEnRevision = $('#articleList-en-revision');
                    var articleListPublicados = $('#articleList-publicados');

                    // Looping over emloyee list and display it
                    $.each(response, function (index, articulo) {
                        var idS = new String(articulo.ArticuloId);
                        //url para ver
                        var lookUrl = '@Url.Action("ConsultarArticulos", "Articulo",new { id= "VAL"},null)';
                        lookUrl = lookUrl.replace("VAL", idS);
                        //url para editar
                        var editUrl = '@Url.Action("EditarArticulos", "Articulo",new { id= "VAL"},null)';
                        editUrl = editUrl.replace("VAL", idS);
                        //url para borrar
                        @*var deleteUrl = '@Url.Action("BorrarArticulo", "Articulo",new { id= "VAL"},null)';
                        deleteUrl = deleteUrl.replace("VAL", idS);*@

                        var articleInstance = document.importNode(artTemp, true);

                        var title, author, info, lookLink, editLink;

                        //get the DIV element from the template Instance:
                        like = articleInstance.querySelector(".likes_template");
                        dislike = articleInstance.querySelector(".dislikes_template");
                        fecha = articleInstance.querySelector(".fecha_template");
                        title = articleInstance.querySelector(".title_template");
                        author = articleInstance.querySelector(".author_template");
                        //info = articleInstance.querySelector("#info");
                        lookLink = articleInstance.querySelector(".look-template");
                        editLink = articleInstance.querySelector(".edit-template");
                        //deleteLink = articleInstance.querySelector(".delete-template");

                        title.textContent = articulo.Titulo;
                        like.textContent = like.textContent + articulo.Likes;
                        dislike.textContent = dislike.textContent + articulo.Dislikes;
                        fecha.textContent = fecha.textContent + (articulo.FechaPublicacion).split(' ')[0];
                        author.textContent = articulo.Autor;
                        //info.textContent = articulo.Autor;

                        lookLink.href = lookUrl;
                        editLink.href = editUrl;
                        //Boton para revisar
                        var revision = articleInstance.querySelector(".revision-template");
                        revision.id = articulo.ArticuloId;
                        if (articulo.Estado == "Revision") {

                            articleListEnRevision.append(articleInstance);
                            revision.setAttribute("disabled", "disabled");
                            revision.textContent = "En Revisión";
                            revision.style.visibility = 'hidden';

                        } else if (articulo.Estado == "Publicado") {
                            articleListPublicados.append(articleInstance)
                            revision.setAttribute("disabled", "disabled");
                            revision.textContent = "Publicado";
                            revision.title = "Enviar artículo a revisar.";
                            revision.style.visibility = 'hidden';

                        } else {
                            articleListNoPublicados.append(articleInstance);
                            revision.textContent = "A Revisar";
                            revision.title = "Enviar artículo a revisar.";
                        }

                        //deleteLink.href = deleteUrl;


                    });
                },
                error: function (err) {
                    alert("Error");
                },
                failure: function (err) {
                    alert("Error");
                }

            });
        }

        function enviarRevision(selector) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("EnviarRevision", "Articulo")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { id: selector.id },
                success: function (response) {
                    alert(response.message);
                    location.reload();
                },
                failure:  function(err) {
                    alert("Fallo al enviar revisión");

                }



            });

        }

        function mostrarNoPublicados() {
            var noPublicado = document.getElementById("articleList-no-publicados");
            var enRevision = document.getElementById("articleList-en-revision");
            var publicado = document.getElementById("articleList-publicados");
            noPublicado.style.display = "block";
            enRevision.style.display = "none";
            publicado.style.display = "none";

            $("#btn-no-publicados").addClass("box-btn-activated");
            $("#btn-publicados").removeClass("box-btn-activated");
            $("#btn-en-revision").removeClass("box-btn-activated");
        }

        function mostrarEnRevision() {
            var noPublicado = document.getElementById("articleList-no-publicados");
            var enRevision = document.getElementById("articleList-en-revision");
            var publicado = document.getElementById("articleList-publicados");
            noPublicado.style.display = "none";
            enRevision.style.display = "block";
            publicado.style.display = "none";

            $("#btn-no-publicados").removeClass("box-btn-activated");
            $("#btn-publicados").removeClass("box-btn-activated");
            $("#btn-en-revision").addClass("box-btn-activated");
        }

        function mostrarPublicados() {
            var noPublicado = document.getElementById("articleList-no-publicados");
            var enRevision = document.getElementById("articleList-en-revision");
            var publicado = document.getElementById("articleList-publicados");
            noPublicado.style.display = "none";
            enRevision.style.display = "none";
            publicado.style.display = "block";

            $("#btn-no-publicados").removeClass("box-btn-activated");
            $("#btn-publicados").addClass("box-btn-activated");
            $("#btn-en-revision").removeClass("box-btn-activated");
        }

    </script>

</head>

<body>

    <div class="col-xl-12 col-md-12 mb-12">
        <div class="row page-title main-font ">
            <h2>Articulos de @User.Identity.Name</h2>
            @if (ViewBag.Message == "Artículo ha sido guardado")
            {
                <div class="alert-success">
                    @ViewBag.Message 
                </div>
            }
            <hr />
            

        </div>

        @*<div class="row main-font search-bar">
                <input id="tableSearch" class="search-text" type="text" placeholder="Busque aqui.">
            </div>*@



    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <button id="btn-no-publicados" class="btn pestania box-btn box-btn-activated" style=" width: 25%;" onclick="mostrarNoPublicados()"> <i class="fa fa-book"></i> No publicados</button>
                <button id="btn-en-revision" class="btn pestania box-btn" style=" width: 25%;" onclick="mostrarEnRevision()"> <i class="fa fa-book"></i> En revisión </button>
                <button id="btn-publicados" class="btn pestania box-btn" style=" width: 25%;" onclick="mostrarPublicados()"> <i class="fa fa-book"></i> Publicados</button>

            </nav>
        </div>

    </div>

    <div class="shadow contenedor-blanco">
        <div id="articleList-no-publicados" class="row" style="margin-left: 0px;margin-right: 0px; display:block;">
        </div>
        <div id="articleList-en-revision" class="row" style="margin-left: 0px;margin-right: 0px; display: none;">
        </div>
        <div id="articleList-publicados" class="row" style="margin-left: 0px;margin-right: 0px; display: none;">
        </div>
    </div>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


</html>

<template>

    <div class="col-xl-12 col-md-12 mb-12 articulo-element" style="background-color:#f9f9f9">

        <div class="col-md-6 mr-2">
            <div class=" title_template row main-font article-h1">La Descomposición del Estudiante</div>
            <div class=" author_template row main-font article-h2">Edwin Brenes</div>

        </div>
        <div class="box-vertical-divider col-md-1   "></div>
        <div class="col-md-3 mr-2">

            <div title="Publicación" class=" fecha_template row main-font article-h2">&#128197 </div>
            <div title="Likes" class=" likes_template row main-font article-h2">&#128077 </div>
            <div title="Dislikes " class=" dislikes_template row main-font article-h2">&#128078 </div>

        </div>
        <div class="box-vertical-divider col-md-1   "></div>

        <div class="col-md-2 mr-2">
            <div class="row">
                <a class="look-template row btn box-btn" style="margin-left:15px; margin-bottom: 5px; width: 100%; padding-left: -10px;" href=""> <i class="fa fa-eye"></i> Consultar  </a>
            </div>
            <div class="row">
                <a class="edit-template row btn box-btn" style="margin-left:15px ;margin-bottom: 5px; width: 100%; padding-left: -10px;" href=""><i class="fa fa-edit"></i> Editar</a>
            </div>
            <div class="row">
                <a class="revision-template row btn box-btn" style="margin-left:15px; width: 100%; padding-left: -15px;" href="" onclick="enviarRevision (this)">asd</a>
            </div>

        </div>
    </div>

</template>



