@model IEnumerable<ComunidadDePracticaMVC.Models.UsuarioModel>
@{
    ViewBag.Title = "Miembros";
}


    @if (!string.IsNullOrEmpty(ViewBag.mensaje))
    {
        <script type="text/javascript">
            alert("@ViewBag.mensaje");
        </script>
    }

<h2>Miembros de la comunidad</h2>
<hr />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th> </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th> </th>
        </tr>

    </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row"></th>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
                @Html.DisplayFor(modelItem => item.Apellido1)
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.ActionLink("Meritos", "VerMeritosUsuario", "Usuario", new { hilera = item.Correo }, htmlAttributes: new { title = "Ver meritos" }) |
                @Html.ActionLink("Degradar", "DegradarUsuario", "Usuario", new { hilera = item.Correo }, htmlAttributes: new { title = "Degradar usuario" })
            </td>
        </tr>
    }
    </tbody>
</table>