@using ComunidadDePracticaMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#form").on('submit',function (e) {
            //Previene el verdadero submit de la b
            e.preventDefault();
            //valida el form
            $('#form').validate();
            var isFormValid = $('#form').valid();
            //Elementos para retroalimentacion al usuario
            var alertValidation = document.getElementById("alert-validation");
            alertValidation.style.display = "none";
            var alertLoginBox = document.getElementById("alert-login");
            alertLoginBox.style.display = "none";
            var alertLoginTitle = document.getElementById("alert-login-title");



            if (isFormValid) {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "LoginAction/",
                        dataType: "json",
                        data: { //Passing data
                            Username: $("#UsernameId").val(),
                            Password: $("#PasswordId").val()
                        },
                        success: function (data) {
                            document.getElementById('form').reset();

                            if (data.responseStatus != -1) {
                                alert(data.responseMessage);
                                window.location.replace(data.newUrl);
                            }
                            else {
                                alertLoginBox.style.display = "block";
                                alertLoginTitle.innerText = data.responseMessage;
                            }

                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
            }
            else {
                alertValidation.style.display = "block";
            }

        });
    });
</script>



<h2>Log In</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form id="form" class="form-horizontal" novalidate="novalidate">

                @Html.AntiForgeryToken()
                <h4>Utilice una cuenta local para acceder.</h4>
                <hr />

                <div id="alert-login" class="alert alert-danger" style="display:none">
                    <strong id="alert-login-title"></strong>
                </div>
                <div id="alert-validation" class="alert alert-danger" style="display:none">
                    <strong>Porfavor, arregle estos errores antes de acceder.</strong>
                    @Html.ValidationSummary()
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @id = "UsernameId" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "PasswordId" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.RememberMe)
                            @Html.LabelFor(model => model.RememberMe)
                        </div>
                    </div>
                </div>*@
               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <!--<input type="submit" value="Log in" class="btn btn-default" />-->
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p class = "col-md-offset-2 col-md-10">
                    @Html.ActionLink("¿No tiene cuenta?", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
