@model IEnumerable<ComunidadDePracticaMVC.Models.FaqModel>
<html>

<head>

    <title> Preguntas y Respuestas </title>

    <script>

        $(document).ready(function () {
            $("#formCreate").on('submit', function (e) {
                //Previene el verdadero submit de la b
                e.preventDefault();

                //valida el form
                $('#formCreate').validate();
                var isFormValid = $('#formCreate').valid();
                //Elementos para retroalimentacion al usuario
                var alertValidation = document.getElementById("alert-validation");
                alertValidation.style.display = "none";
                var alertResponse = document.getElementById("alert-response");
                alertResponse.style.display = "none";
                var alertResponseTitle = document.getElementById("alert-response-title");

                if (isFormValid) {
                    var createPregunta = document.getElementById("textPreguntaCreate");
                    var createRespuesta = document.getElementById("textRespuestaCreate");

                    $.ajax({
                        type: "POST",
                        url: "Create",
                        data: { preguntaStr: createPregunta.value, respuestaStr: createRespuesta.value },
                        traditional: true,
                        success: function (response) {
                            alert("Se creo una pregunta en el FAQ.")
                            location.reload();
                        },
                        failure: function (response) {
                            alert("No se pudo crear una pregunta.");
                        },
                        error: function (response) {
                            alert("No se pudo crear una pregunta.");
                        }

                    });


                }
                else {
                    alertValidation.style.display = "block";
                }


            });

        });

        function crearPregunta() {
            var windowCreate = document.getElementById("create");
            windowCreate.style.display = "block";
            var span = document.getElementById("closeCreate");
            span.onclick = function () {
                windowCreate.style.display = "none";
                document.getElementById("formCreate").reset();
            }
        }

        function editarContenido(id) {
            var modal = document.getElementById("myModal" + id);
            modal.style.display = "block";
            var span = document.getElementById("close" + id);
            //Modifica el submit del form
            $('#form' + id).on('submit', function (e) {
                //Previene el verdadero submit de la b
                e.preventDefault();

                //valida el form
                $('#form' + id).validate();
                var isFormValid = $('#form' + id).valid();
                //Elementos para retroalimentacion al usuario
                var alertValidation = document.getElementById("alert-validation" + id);
                alertValidation.style.display = "none";
                var alertResponse = document.getElementById("alert-response" + id);
                alertResponse.style.display = "none";
                var alertResponseTitle = document.getElementById("alert-response-title" + id);

                if (isFormValid) {

                    var createPregunta = document.getElementById("textAreaPregunta" + id);
                    var createRespuesta = document.getElementById("textAreaRespuesta" + id);
                    var ids = id;
                    $.ajax({
                        type: "POST",
                        url: "Edit",
                        data: { id: ids, preguntaStr: createPregunta.value, respuestaStr: createRespuesta.value },
                        traditional: true,
                        success: function (response) {
                            alert("Se edito la pregunta.")
                            location.reload();
                        },
                        failure: function (response) {
                            alert("No se pudo editar la pregunta.");
                        },
                        error: function (response) {
                            alert("No se pudo editar la pregunta.");
                        }

                    });

                }
                else {
                    alertValidation.style.display = "block";
                }

            });

            span.onclick = function () {
                modal.style.display = "none";
                document.getElementById('form' + id).reset();
            }
        }


        function ajaxBorrar(id) {
            var ids = id;
            $.ajax({
                type: "POST",
                url: "Delete",
                data: { id: ids },
                traditional: true,
                success: function (response) {
                    alert("Se borro pregunta.");
                    location.reload();
                }

            });
        }

    </script>

</head>

<body>

    <h2>Sección de preguntas frecuentes</h2>
    <hr />
    <bdi></bdi>

    <div>
        <input type="button" class="btn box-btn" value="Crear pregunta" onclick="crearPregunta()">
    </div>
    <br />

    <!-- Ventana modal para modificar contenido -->
    <div id="create" class="modal">

        <!-- Contenido modal -->
        <div class="box-container">
            <div class="box-header row">
                <div class="col-md-3 box-header-title">Pregunta nueva</div>
                <span id="closeCreate" class="close box-header-links">&times;</span>
            </div>
            <div class="box-content">
                <!--
                <h2>Pregunta</h2>
                <textarea class="box-group-line" placeholder="Escriba la pregunta" id="textPreguntaCreate"> </textarea>

                <h2>Respuesta</h2>
                <textarea class="box-group-line" placeholder="Escriba la respuesta" id="textRespuestaCreate"> </textarea>
                -->
                <form id="formCreate" novalidate="novalidate">

                    @Html.AntiForgeryToken()
                    <div id="alert-response" class="alert alert-danger" style="display:none">
                        <strong id="alert-response-title"></strong>
                    </div>
                    <div id="alert-validation" class="alert alert-danger" style="display:none">
                        <strong>Porfavor, arregle estos errores antes de continuar.</strong>
                        @Html.ValidationSummary()
                    </div>
                    <div class="box-group-line">
                        <div class="line-divider">
                            <input id="textPreguntaCreate" class="box-group-line-area" data-val="true"
                                   data-val-required="La pregunta es requerida."
                                   name="Pregunta" placeholder="Pregunta" type="text" value="">
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="col-md-12">
                            <textarea id="textRespuestaCreate" class="box-group-content-area" cols="20" data-val="true" data-val-required="La respuesta es requerida."
                                      style="resize:vertical" name="Respuesta" rows="2" aria-hidden="true"
                                      placeholder="Escriba la respuesta aquí"></textarea>
                        </div>

                    </div>
                    <input class="btn box-btn " type="submit" value="Crear" style=" margin-left: 15px; margin-top: 10px">

                </form>

            </div>
            <div class="box-footer">

            </div>

        </div>
    </div>



    @foreach (var item in Model)
    {

        var modalId = "myModal" + @Html.DisplayFor(modelItem => item.Id);
        var textAreaPreguntaId = "textAreaPregunta" + @Html.DisplayFor(modelItem => item.Id);
        var textAreaRespuestaId = "textAreaRespuesta" + @Html.DisplayFor(modelItem => item.Id);
        var closeId = "close" + @Html.DisplayFor(modelItem => item.Id);
        var alert_response = "alert-response" + @Html.DisplayFor(modelItem => item.Id);
        var alert_response_title = "alert-response-title" + @Html.DisplayFor(modelItem => item.Id);
        var alert_validation = "alert-validation" + @Html.DisplayFor(modelItem => item.Id);
        var formId = "form" + @Html.DisplayFor(modelItem => item.Id);

        <div>
            <div id=@modalId class="modal">

                <!-- Contenido modal -->
                <div class="box-container">
                    <div class="box-header row">
                        <div class="col-md-3 box-header-title">Editar pregunta</div>
                        <span id=@closeId class="close box-header-links">&times;</span>
                    </div>
                    <div class="box-content">
                        <!--
                        <h2>Pregunta</h2>
                        <textarea class="box-group-line" placeholder="Escriba la pregunta" id="textPreguntaCreate"> </textarea>

                        <h2>Respuesta</h2>
                        <textarea class="box-group-line" placeholder="Escriba la respuesta" id="textRespuestaCreate"> </textarea>
                        -->
                        <form id="@formId" novalidate="novalidate">

                            @Html.AntiForgeryToken()
                            <div id="@alert_response" class="alert alert-danger" style="display:none">
                                <strong id="@alert_response_title"></strong>
                            </div>
                            <div id="@alert_validation" class="alert alert-danger" style="display:none">
                                <strong>Porfavor, arregle estos errores antes de continuar.</strong>
                                @Html.ValidationSummary()
                            </div>
                            <div class="box-group-line">
                                <div class="line-divider">
                                    <input id="@textAreaPreguntaId" class="box-group-line-area" data-val="true"
                                            data-val-required="La pregunta es requerida."
                                            name="Pregunta" placeholder="Pregunta" type="text" value="@Html.DisplayFor(modelItem => item.Pregunta)">
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="col-md-12">
                                    <textarea id="@textAreaRespuestaId" class="box-group-content-area" cols="20" data-val="true" data-val-required="La respuesta es requerida."
                                              style="resize:vertical" name="Respuesta" rows="2" aria-hidden="true"
                                              placeholder="Escriba la respuesta aquí">@Html.DisplayFor(modelItem => item.Respuesta)</textarea>
                                </div>

                            </div>
                            <input class="btn box-btn " type="submit" value="Editar" style=" margin-left: 15px; margin-top: 10px">

                        </form>

                    </div>
                    <div class="box-footer">

                    </div>

                </div>
            </div>

            <div class="col-xl-12 col-md-12 mb-12 articulo-element shadow">

                <div class="col-md-9 mr-2">
                    <div class=" title_template row main-font article-h1">

                        <textContent > @Html.DisplayFor(modelItem => item.Pregunta) </textContent>

                    </div>

                    <div class=" author_template row main-font article-h2">

                        <textContent > @Html.DisplayFor(modelItem => item.Respuesta) </textContent>

                    </div>
                </div>
                <div class="col-md-3 mr-2">
                    <input type="button" class="btn box-btn" value="Modificar"  onclick="editarContenido(@item.Id)">
                    <input type="button" class="btn box-btn" value="Borrar"  style ="margin-top: 10px "onclick="ajaxBorrar(@item.Id)">
                </div>
            </div>

        </div>
     }

</body>

</html>


<template>

    <div>
        <!-- Ventana modal para modificar contenido -->
        <div id="myModal" class="modal">

            <!-- Contenido modal -->
            <div class="modal-content">
                <span id="close" class="close">&times;</span>

                <h2>Pregunta</h2>
                <textarea class="miPreguntaArea" placeholder="Escriba la pregunta" id="textAreaPregunta"> </textarea>

                <h2>Respuesta</h2>
                <textarea class="miRespuestaArea" placeholder="Escriba la respuesta" id="textAreaRespuesta"> </textarea>

                <input type="button" value="Actualizar" id="BG" onclick="actualizar(this)">
            </div>

        </div>

        <div class="col-xl-12 col-md-12 mb-12 articulo-element shadow">

            <div class="col-md-9 mr-2">
                <div class=" title_template row main-font article-h1">

                    <textConten id="PREG"> Escriba la pregunta </textConten>

                </div>

                <div class=" author_template row main-font article-h2">

                    <textConten id="RESP"> Escriba la respuesta </textConten>

                </div>
            </div>
            <div class="col-md-3 mr-2">
                <input type="button" class="btn-group" value="Modificar" id="B" onclick="editarContenido(this)">
            </div>
        </div>

    </div>
</template>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
