@model IEnumerable<ComunidadDePracticaMVC.Models.StudentExample>


@{
    ViewBag.Title = "Index";

}
    <script type="text/javascript">


    $(document).ready(function () {
        var currentPage = 1;
        loadPageData(currentPage);
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                currentPage += 1;
                loadPageData(currentPage);
            }

        });


    });
    function loadPageData(currentPageNumber) {
        $.ajax({
            type: "GET",
            url: 'getStudentInfo',
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { pageNumber: currentPageNumber, pageSize: 5 },
            success: function (response) {
                var tblExample = $('#tblExample tbody');
                // Looping over emloyee list and display it
                $.each(response, function (index, student) {
                    tblExample.append('<tr><td>' + student.Id + '</td><td>'
                        + student.Name + '</td><td>' + student.City + '</td><td>' + student.Address +  '</td><td>' + '@Html.ActionLink("Home", "Index", "Home")' +'</td></tr>');
                });
            },
            error: function (err) {
                var tblExample = $('#tblExample tbody');
                tblExample.append('<tr><td>' + 'HAOASD' + '</td><td>' +
                    'HAOASD' + '</td><td>' + 'HAOASD' + '</td></tr>');
            }

        });
    }
    </script>



<h2>Sus Estudiantes (Articulos)</h2>



<table class="table" id="tblExample" border="1"
       style="border-collapse:collapse; font-size:xx-large">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City </th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<!--


<table id ="ExampleTable"class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

function loadPageData(currentPageNumber) {
            $.ajax({
                url: 'Example/getStudentInfo',
                method: 'post',
                dataType: "json",
                data: { pageNumber: currentPageNumber, pageSize: 5 },
                success: function (data) {
                    var tblExample = $('#tblExample tbody');

                    $(data).each(function (index, student) {
                        tblExample.append('<tr><td>' + student.ID + '</td><td>'
                            + student.Name + '</td><td>' + student.City + '</td></tr>');
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });
        }
-->
