
@model IEnumerable<ComunidadDePracticaMVC.Models.ArticuloModel>



<body>
    @*@{
        string autor = Model.Autor;
        string resumen = Model.Resumen;
        string titulo = Model.Titulo;
        string topico = Model.Topico;
        string contenido = Model.Contenido;
    }*@
    <h2>Busqueda por tópico: @ViewBag.busqueda</h2>
    <hr />


    <table class="table table-striped ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contenido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resumen)
                </th>
                @*<th> Consultar</th>*@
            </tr>
        </thead>
        

        <tbody id="myTable">
            @foreach (var item in Model)
            { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topico)
                </td>
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(item.Contenido))
                </td>
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(item.Resumen))
                </td>
                @*<td>
                    @Html.ActionLink("Ver", "ConsultarArticulos", "Articulo", new { id = item.ArticuloId }, null)
                </td>*@
            </tr>
            }
            </tbody>

    </table>
</body>