
@model IEnumerable<ComunidadDePracticaMVC.Models.ArticuloModel>




<head>
    <title></title>
    <script type="text/javascript" src="~/Scripts/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="~/Scripts/editor.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/editor.css">
</head>

<body>
    @*@{
        string autor = Model.Autor;
        string resumen = Model.Resumen;
        string titulo = Model.Titulo;
        string topico = Model.Topico;
        string contenido = Model.Contenido;
    }*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumen)
            </th>
            <th></th>
        </tr>

        <tbody id="myTable">
            @foreach (var item in Model)
            { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topico)
                </td>
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(item.Contenido))
                </td>
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(item.Resumen))
                </td>
            </tr>
            }
            </tbody>

    </table>
</body>