

@{
    ViewBag.Title = "Consulta de Artículo";
    @model ComunidadDePracticaMVC.Models.ArticuloModel
    string autor = Model.Autor;
    string resumen = Model.Resumen;
    string titulo = Model.Titulo;
    string topico = Model.Topico;
    string contenido = Model.Contenido;
    string tipoArchivo = Model.TipoArchivo;
    int articuloId = Model.ArticuloId;
    //string voto = "2"; // debe ser un parametro
    string idArtStr = "\'" + articuloId.ToString() + "\'";

}



<html>
<body onload="botonesHabilitados(@ViewBag.Reaccion, event)">

    <div>
        <h2>@ViewBag.Title </h2>
    </div>


    @if (tipoArchivo != "corto")
    {
        <h4>Usted está visitando un artículo largo</h4>

        <hr />
        <h3> <strong>Título</strong> </h3>

        <h4>@titulo</h4>

        <h3> <strong>Autor</strong> </h3>

        <h4>@autor</h4>

        <h3> <strong>Tópicos: </strong> </h3>
        <h4> @topico</h4>

        <hr />

        <h3> <strong> Resumen del articulo </strong> </h3>
        <div>
            @Html.Raw(HttpUtility.HtmlDecode(resumen))
        </div>

        <hr />


        <a class="btn box-btn" href="/Articulo/AccederArticuloLargo?idArt=@articuloId" target="_blank"> Ver archivo</a>
    }
    else
    {
        <h4>Usted está visitando un artículo corto</h4>

        <hr />
        <h3> <strong>Título</strong> </h3>

        <h4>@titulo</h4>

        <h3> <strong>Autor</strong> </h3>

        <h4>@autor</h4>

        <h3> <strong>Tópicos: </strong> </h3>
        <h4> @topico</h4>

        <hr />

        <h3> <strong> Resumen del articulo </strong> </h3>
        <div>
            @Html.Raw(HttpUtility.HtmlDecode(resumen))
        </div>
        <hr />

        <h4> <strong> Contenido </strong> </h4>
        <div>
            @Html.Raw(HttpUtility.HtmlDecode(contenido))
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        string correo = "\""+User.Identity.Name.ToString()+"\"";
        <hr />
        <div class="seccion_Votar">
            <h4> Brinde su opinión respecto a este artículo</h4>
            <br />
            <button value="1" id="b0" class="btn box-btn" onclick="activarOtros(@idArtStr,1,@correo,@ViewBag.Reaccion)"><i class="fa fa-thumbs-up"></i> Me gusta </button>
            <button value="0" id="b1" class="btn box-btn" onclick="activarOtros(@idArtStr,0,@correo,@ViewBag.Reaccion)"> Neutral </button>
            <button value="-1" id="b2" class="btn box-btn" onclick="activarOtros(@idArtStr,-1,@correo,@ViewBag.Reaccion)"><i class="fa fa-thumbs-down"></i> No me gusta </button> <br />
            <p id="ArtID" value="@articuloId"></p>
        </div>
    }

    <hr />

    <div>
        <a class="btn box-btn" href="/Articulo/InicioArticulos"> Volver al listado de artículos</a>
    </div>

    <script src="~/Scripts/FuncionesBotones.js"></script>

</body>
</html>




