
@if (User.Identity.IsAuthenticated)
{
    <li class="sidebar-title"> @Html.ActionLink("Mi perfil", "DesplegarUsuario", "Usuario", new { correo = User.Identity.Name }, null) </li>
    <!--<li> <a href="#"> Crear Articulo </a> </li>-->
    <li>@Html.ActionLink("Mis Articulos", "MisArticulos", "Usuario", new { correo = User.Identity.Name }, htmlAttributes: new { title = "Mi perfil" })</li>
    <!--<li class="sidebar-divider"></li>-->
    <li class="sidebar-divider"></li>
    <li> @Html.ActionLink("Crear Artículo Largo", "Index", "ArticuloLargo") </li>
    <li> @Html.ActionLink("Crear Artículo Corto", "Create", "Articulo") </li>
    <li class="sidebar-divider"></li>
    <li> @Html.ActionLink("Ver Miembros", "UsuariosComunidad", "Usuario") </li>
    <li> @Html.ActionLink("Asignar Meritos", "ArticulosCalificados", "Articulo") </li>
    <li class="sidebar-divider"></li>
}

