<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/estilos.css">



</head>


<body>

    <nav class="topnav navbar navbar-fixed-top main-font">
        <div class="container-fluid">
            <div class="container">

                <div id="navbar " class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-left">
                        <li><a><i class="fa fa-home"></i></a></li>
                        <li>@Html.ActionLink("Comunidad De Practica", "Index", "Home")</li>
                    </ul>
                    <!--diferentes vistas dependiendo de si hay usuario logeado -->
                    @Html.Partial("_LayoutTopNav")
                </div><!--/.nav-collapse -->
            </div>
            
        </div><!--/.container-fluid -->
    </nav>

    <div class="container my-body-content main-font ">
        <div class="row my-row">
            <div class="col-md-3 my-col">
                <!-- Sidebar -->
                <div id="sidebar-wrapper" class="shadow">

                    <ul class="sidebar-nav">
                        <!--diferentes vistas dependiendo de si hay usuario logeado -->
                        @Html.Partial("_LayoutSideBar")
                        <!-- Por ahora ya que no hay usuarios-->
                        <li> @Html.ActionLink("Crear Articulo", "Create", "Articulo") </li>
                        <li class="sidebar-divider"></li>
                        <!-- Por ahora  ya que no hay usuarios-->
                        <li style="color: #999999; padding: 1rem;"> Busqueda  </li>
                        <li>

                            <div style="padding-left: 10px; padding-right: 10px;">
                                <div class="search-bar">
                                    <input id="tableSearch" class="search-text" type="text" style="font-size: 1.3rem;" placeholder="Busque aqui.">
                                </div>

                            </div>
                            <script type="text/javascript">
                                var input = document.getElementById("tableSearch");
                                input.addEventListener("keyup", function (event) {
                                    if (event.keyCode === 13) {
                                        var url = '@Url.Action("Busqueda", "Articulo", new { hilera ="VAL"})';
                                        url = url.replace("VAL", document.getElementById("tableSearch").value);

                                        //alert(url);
                                        window.location = url;
                                    }
                                });
                            </script>

                        </li>

                        <li class="sidebar-divider"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorías <span class="caret"></span></a>
                            <ul class="dropdown-content">
                                <li><a href="@Url.Action("Busqueda", "Articulo", new { hilera ="carros"})">Carros</a></li>
                                <li><a href="@Url.Action("Busqueda", "Articulo", new { hilera ="Comida"})">Comida</a></li>
                                <li><a href="@Url.Action("Busqueda", "Articulo", new { hilera ="Estudios"})">Estudios</a></li>
                                <li><a href="@Url.Action("Busqueda", "Articulo", new { hilera ="Kung Fu"})">Kung Fu</a></li>
                                <li><a href="@Url.Action("Busqueda", "Articulo", new { hilera ="fisica"})">Fisica</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-divider"></li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    </ul>



                </div>
                <!-- /#sidebar-wrapper -->
            </div>
            <div class="col-md-9 my-col">

                <!-- old body with class container body  -->
                @RenderBody()

            </div>
        </div>
    </div>


    <!--<div class="nav navbar-nav">

        <script type="text/javascript">
                        var input = document.getElementById("tableSearch");
                        input.addEventListener("keyup", function (event) {
                            if (event.keyCode === 13) {
                                var url = '@Url.Action("Busqueda", "Articulo", new { id="VAL"})';
                                url = url.replace("VAL", document.getElementById("tableSearch").value);

                                //alert(url);
                                window.location = url;
                            }
                        });
        </script>

        <div><input id="tableSearch" type="text" placeholder="Busque aqui."></div>

        <form class="form-inline md-form mr-auto mb-6">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="tableSearch">
    </form>


    <script type="text/javascript">
        var input = document.getElementById("tableSearch");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                console.log(document.getElementById("tableSearch").value);
            }
        });
    </script>
    </div>-->


</body>
</html>