<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="topnav">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("ControlarForma", "ControlarForma", "Home")</li

                    <li><input id="tableSearch" type="text" placeholder="Busque aqui."></li>
                    <script type="text/javascript">
                        var input = document.getElementById("tableSearch");
                        input.addEventListener("keyup", function (event) {
                            if (event.keyCode === 13) {
                                var url = '@Url.Action("Busqueda", "Articulo", new { id="VAL"})';
                                url = url.replace("VAL", document.getElementById("tableSearch").value);
                                
                                //alert(url);
                                window.location = url;
                            }
                        });
                    </script>

                    <!--<form class="form-inline md-form mr-auto mb-6">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="tableSearch">
    </form>


    <script type="text/javascript">
        var input = document.getElementById("tableSearch");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                console.log(document.getElementById("tableSearch").value);
            }
        });
    </script>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="container my-container">
        <div class="row my-row">
            <div class="col-md-3 my-col">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                Start Bootstrap
                            </a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("ControlarForma", "ControlarForma", "Home")</li>
                        <li>@Html.ActionLink("Busqueda", "Busqueda", "Home")</li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->
            </div>
            <div class="col-md-9 my-col">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</body>
</html>