@model ComunidadDePracticaMVC.ViewModels.ArticuloLargoViewModel

<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="~/Scripts/tinyMCEResumenConfig.js"></script>
<script type="text/javascript" src="~/Scripts/tinyMCEContenidoConfig.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>



<title>Subir Artículo Largo</title>

<h1>Subir Artículo Largo</h1>

<hr />


@if (ViewBag.Message != null)
{
    <div class="alert-success">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm("Guardar", "ArticuloLargo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <div class="form-group">
                @Html.LabelFor(d => d.Archivo1)
                @Html.TextBoxFor(d => d.Archivo1, new { type = "file",  @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Archivo1, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(d => d.Autor)
                @Html.TextBoxFor(d => d.Autor, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Autor, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(d => d.Titulo)
                @Html.TextBoxFor(d => d.Titulo, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Titulo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(d => d.Resumen)
                @Html.TextAreaFor(d => d.Resumen, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Resumen, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="text-align:right">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>

        </div>
    </div>
} 