@model IEnumerable<ComunidadDePracticaMVC.Models.MiembroModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hobbie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idioma)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.habilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hobbie)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.idioma)
        </td>

    </tr>
}

</table>
